.jumpshot{
/* The image used */
background-image: url("btsjumpshot.jpg");
}

.orangebckgrd {

  background-image: url("btsoldfaves.jpg");
}

.cloudpic {
	
	background-image: url("btscloud.jpg");
}

.jumpshot, .orangebckgrd, .cloudpic{
    height:1000px;

    /* Create the parallax scrolling effect */
    opacity:0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}